<div style="margin-bottom: 20px;">
  <a href="index.php?class=CaracteristicaList"><img src="images/admin/voltar.png" style="width: 40px;" alt="Voltar"></a>
</div>
<form method="post" action="/index.php?class=CaracteristicaForm&method=cadastro" id="formlogin" name="formlogin">
  <fieldset id="fie">
    <legend>Cadastro de característica</legend>
    <br />
    <label>Id: </label>
    <input type="text" name="id" id="id" value="{id}" readonly /><br />
    <label>Titulo: </label>
    <input type="text" name="titulo" id="titulo" value="{titulo}" /><br />
    <label>Descrição: </label>
    <input type="text" name="descricao" id="descricao" value="{descricao}" /><br />
    <input type="submit" value="CADASTRAR" />
  </fieldset>
</form>