<tr>

<td align='center'>
    <a href='index.php?class=PreferenciaForm&method=edit&id={id}'> 
    <img src='img/edit.png' style='width:24px'>
    </a> </td>
    <td align='center'>
    <a href='index.php?class=PreferenciaList&method=delete&id={id}'>
    <img src='img/remove.png' style='width:24px'>
    </a></td>
<td> {id} </td>
<td> {titulo_landing} </td>
<td> {favicon} </td>
<td> {logo_cabecalho} </td>
<td> {facebook} </td>
<td> {twitter} </td>
<td> {instagram} </td>
<td> {titulo_secaoHome} </td>
<td> {subtitulo_secaoHome} </td>
<td> {imagem_secaoHome} </td>
<td> {titulo_caracticasHome} </td>
<td> {titulo_testemunhos} </td>
<td> {titulo_secaoLojaApp} </td>
<td> {subtitulo_secaoLojaApp} </td>
<td> {imagem_secaoLojaApp} </td>
<td> {imagem_AppStore} </td>
<td> {imagem_GooglePlay} </td>
<td> {telefone_contato} </td>
<td> {logo_rodape} </td>
<td> {mensagem_rodape} </td>
<td> {url_rodape} </td>
<td> {mensagem_powered} </td>
</tr>