<html>
<head>
    <meta charset="utf-8">
    <title> Listagem de pessoas </title>
    <link href="css/list.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <table border=1>
    <thead>
    <tr>
    <th> editar </th>
    <th> remover </th>
    <th> Id </th>
    <th> Titulo_landing </th>
    <th> favicon </th>
    <th> logo_cabecalho </th>
    <th> facebook </th>
    <th> twitter </th>
    <th> instagram </th>
    <th> titulo_secaoHome </th>
    <th> subtitulo_secaoHome </th>
    <th> imagem_secaoHome </th>
    <th> titulo_caracticasHome </th>
    <th> titulo_testemunhos </th>
    <th> titulo_secaoLojaApp </th>
    <th> subtitulo_secaoLojaApp </th>
    <th> imagem_secaoLojaApp </th>
    <th> imagem_AppStore </th>
    <th> imagem_GooglePlay </th>
    <th> telefone_contato </th>
    <th> logo_rodape </th>
    <th> mensagem_rodape </th>
    <th> url_rodape </th>
    <th> mensagem_powered </th>
    </tr>
    </thead>
    <tbody>
    {items}
    </tbody>
    </table>
    <button onclick="window.location='index.php?class=PreferenciaForm'">
    <img src='images/admin/sinal-de-mais.png' style='width:24px; vertical-align: middle;'> Inserir
    </button>
</body>
</html>