<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Preferencia Form</title>
</head>

<body>
  <header>
    {{header}}
  </header>
  <form method="post" action="/index.php?class=PreferenciaForm&method=save" id="formlogin" name="formlogin"
    enctype="multipart/form-data">
    <fieldset id="fie">
      <legend> {titulo} </legend>
      <br />
      <input name="id" id="id" readonly="1" type="text" value="{id}" aria-readonly="true" hidden> <br />
      <label>titulo_landing </label>
      <input type="text" name="titulo_landing" id="titulo_landing" value="{titulo_landing}" /><br />

      <label>favicon </label>
      <input type="file" name="favicon" id="favicon" /><br />

      <label>logo_cabecalho </label>
      <input type="file" name="logo_cabecalho" id="logo_cabecalho" /><br />
      <label>facebook </label>
      <input type="text" name="facebook" id="facebook" value="{facebook}" /><br />
      <label>twitter </label>
      <input type="text" name="twitter" id="twitter" value="{twitter}" /><br />
      <label>instagram </label>
      <input type="text" name="instagram" id="instagram" value="{instagram}" /><br />
      <label>titulo_secaoHome </label>
      <input type="text" name="titulo_secaoHome" id="titulo_secaoHome" value="{titulo_secaoHome}" /><br />
      <label>subtitulo_secaoHome </label>
      <input type="text" name="subtitulo_secaoHome" id="subtitulo_secaoHome" value="{subtitulo_secaoHome}" /><br />
      <label>imagem_secaoHome </label>
      <input type="file" name="imagem_secaoHome" id="imagem_secaoHome" /><br />
      <label>titulo_caracticasHome </label>
      <input type="text" name="titulo_caracticasHome" id="titulo_caracticasHome"
        value="{titulo_caracticasHome}" /><br />
      <label>titulo_testemunhos </label>
      <input type="text" name="titulo_testemunhos" id="titulo_testemunhos" value="{titulo_testemunhos}" /><br />
      <label>titulo_secaoLojaApp </label>
      <input type="text" name="titulo_secaoLojaApp" id="titulo_secaoLojaApp" value="{titulo_secaoLojaApp}" /><br />
      <label>subtitulo_secaoLojaApp </label>
      <input type="text" name="subtitulo_secaoLojaApp" id="subtitulo_secaoLojaApp"
        value="{subtitulo_secaoLojaApp}" /><br />
      <label> imagem_secaoLojaApp </label>
      <input type="file" name="imagem_secaoLojaApp" id="imagem_secaoLojaApp" /><br />

      <label> link_AppStore </label>
      <input type="text" name="link_AppStore" id="link_AppStore" value="{link_AppStore}" /><br />
      <label>imagem_AppStore </label>
      <input type="file" name="imagem_AppStore" id="imagem_AppStore" /><br />

      <label>link_GooglePlay </label>
      <input type="text" name="link_GooglePlay" id="link_GooglePlay" value="{link_GooglePlay}" /><br />
      <label>imagem_GooglePlay </label>
      <input type="file" name="imagem_GooglePlay" id="imagem_GooglePlay" /><br />

      <label>telefone_contato </label>
      <input type="text" name="telefone_contato" id="telefone_contato" value="{telefone_contato}" /><br />
      <label>logo_rodape </label>
      <input type="file" name="logo_rodape" id="logo_rodape" /><br />
      <label>mensagem_rodape </label>
      <input type="text" name="mensagem_rodape" id="mensagem_rodape" value="{mensagem_rodape}" /><br />
      <label>url_rodape </label>
      <input type="text" name="url_rodape" id="url_rodape" value="{url_rodape}" /><br />
      <label>mensagem_powered </label>
      <input type="text" name="mensagem_powered" id="mensagem_powered" value="{mensagem_powered}" /><br />

      <input type="submit" value="Confirmar" />
    </fieldset>
  </form>
</body>

</html>