<tr>
<td align='center'>
    <a href='index.php?class=TestemunhoForm&method=edit&id={id}'>
    <img src='img/edit.png' style='width:24px'>
    </a></td>
    
<td align='center'>
    <a href='index.php?class=TestemunhoList&method=delete&id={id}'>
    <img src='img/remove.png' style='width:24px'>
    </a></td>
<td> {id} </td>
<td> {nome} </td>
<td> {funcao} </td>
<td> {titulo} </td>
<td> {descricao} </td>
<td> <img src='{foto}' style='width:100px'> </td>
<td> <img src='{imagem_fundo}' style='width:100px'> </td>
</tr>