<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
</head>
<body>
    <header>
        {{header}}
    </header>

    <main>
        <h1>Tutorial</h1>
        <p>Aqui você pode aprender a configurar suas preferências e opções de conta.</p>
    </main>
    <img src="/images/admin/Barra_de_navegacao.png" style="max-width: 908px;">
    <img src="/images/admin/sessaoHome.png" style="max-width: 908px;">
    <img src="/images/admin/sessao_testemunhos.png" style="max-width: 908px;">
    <img src="/images/admin/sessaoLojaApp.png" style="max-width: 908px;">
    <img src="/images/admin/sessao_contato.png" style="max-width: 908px;">
    <img src="/images/admin/sessao_Rodape.png" style="max-width: 908px;">

</body>
</html>