<form method="post" action="/index.php?class=UsuarioForm&method=cadastro" id="formlogin" name="formlogin">
  <fieldset id="fie">
    <legend>Cadastro de usuario</legend>
    <br />
    <label>Código :</label>
    <input name="id" readonly="1" type="text" value="{id}" aria-readonly="true" > <br />
    <label>EMAIL : </label>
    <input type="email" name="email" id="email" value="{email}" /><br />
    <label>SENHA :</label>
    <input type="password" name="password" id="password" value="{senha}" /><br />
    <input type="submit" value="CADASTRAR" />
  </fieldset>
</form>
