<form method="post" action="/index.php?class=ContatoForm&method=cadastro" id="formlogin" name="formlogin">
  <fieldset id="fie">
    <legend>Cadastro de usuario</legend>
    <br />
    <label>Id: </label>
    <input type="text" name="id" id="id" value="{id}" readonly/><br />
    <label>Nome: </label>
    <input type="text" name="nome" id="nome" value="{nome}" /><br />
    <label>EMAIL : </label>
    <input type="email" name="email" id="email" value="{email}" /><br />
    <label>TELEFONE :</label>
    <input type="text" name="telefone" id="telefone" value="{telefone}" /><br />
    <label>MENSAGEM :</label>
    <input type="text" name="mensagem" id="mensagem" value="{mensagem}" /><br />
    <input type="submit" value="CADASTRAR" />
  </fieldset>
</form>
