<nav>
    <ul>
        <li><a href="/index.php?class=ListController&method=list_preferencias">preferencias</a></li>
        <li><a href="/index.php?class=ListController&method=list_usarios">usuarios</a></li>
        <li><a href="/index.php?class=ListController&method=list_caracteristicas">caracteristicas</a></li>
        <li><a href="/index.php?class=ListController&method=list_testemunhos">testemunhos</a></li>
        <li><a href="/index.php?class=ListController&method=list_contatos">contatos</a></li>
        <li><a href="/index.php?class=LoginController&method=logout">Logout</a></li>
    </ul>
</nav>